#contact {
  padding: 40px 20px;
  color: #fff;
  background: rgba(3, 20, 8, 0.9);
  text-align: center;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: #019097 0 0 10px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.contact-left,
.contact-right {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
  text-align: left;
}

.contact-left p {
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: #019097 0 0 10px;
}

.contact-left a {
  color: #cef17b;
  text-decoration: none;
}

.contact-left a:hover {
  color: #01c0ca;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 34px;
  margin-top: 14px;
}

.social-icons a {
  color: #fff;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #c1f842;
}

.contact-right p {
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: #019097 0 0 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background: rgba(206, 241, 123, 0.1);
  color: #fff;
  resize: vertical;
}

.contact-form button {
  background: transparent;
  color: #fff;
  padding: 12px;
  border: 1px solid #cef17b;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: rgb(1, 144, 151, 0.2);
  color: white;
  border: 1px solid #019097;
  transform: scale(1.05);
}

.success-msg {
  color: #c1f842;
  margin-top: 10px;
}

.error-msg {
  color: #01c0ca;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact-left {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
