.footer {
  background-color: rgba(46, 25, 12, 0.6);
  backdrop-filter: blur(6px);
  margin-top: auto;
  position: relative;
  z-index: 1;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}
