.navbar {
  background-color: rgba(20, 11, 5, 0.6) !important;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: #ffd700 !important;
}

.navbar-brand:hover {
  color: #ffd700 !important;
}

.navbar-toggler {
  border-color: rgba(255, 215, 0, 0.1);
}

.navbar .nav-link.active {
  color: #00ffff !important;
  font-weight: bold;
}
